@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body {
    background-color: "#EEF0F8" !important;
    font-family: "Poppins", sans-serif !important;
    color: #4e4f52 !important;
}

.price {
    font-weight: 600 !important;
    font-size: 13px !important;
}

input::placeholder {
    color: #b5b5c3 !important;
    font-size: 12px !important;
}

.checkIcon {
    font-size: 100px;
    color: #1bc5bd;
}

@media only screen and (min-width: 761px) {
    .bordeDerecho {
        border-right: 1px solid #edebeb;
    }
}

@media only screen and (min-width: 1px) and (max-width: 760px) {
    .titlePaymentError {
        font-size: 80px;
        text-align: center !important;
    }

    .checkIcon {
        font-size: 70px;
        color: #1bc5bd;
    }
}

@media only screen and (min-width: 761px) {
    .titlePaymentError {
        font-size: 100px;
    }
}

@media only screen and (min-width: 1px) and (max-width: 760px) {
    .titlePaymentSuccessful {
        font-size: 18px;
    }

    .checkIcon {
        font-size: 70px;
        color: #1bc5bd;
    }
}
